<div class="row">
  <div class="col-sm-3">
    <form>
      <div class="form-group">
        <label for="game-level"></label>
        <select class="form-control" id="game-level" (ngModel)="level"(change)="rePrintBoard($event.target.value)" >         
          <option value="9">Beginner</option>
          <option value="16">Expert</option>
        </select>
      </div>
    </form>
    
  </div>
  <div class="col-sm-9">
    <div class="row" *ngFor="let rows of board">          
      <div class="btn-group" *ngFor="let cell of rows">
        <app-cell
        [data]='cell'
        [setCurrent]="setCurrent"></app-cell>
      </div>
    </div>
  </div>
</div>